In [40]:
import pandas as pd

In [3]:
dataset = pd.read_csv("bangalore house price prediction OHE-data.csv")

In [4]:
dataset.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dataset.tail()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# now split the datasets into "x" and "y" variable

In [16]:
x = dataset.drop('price',axis=1)
y = dataset['price']

In [19]:
print(x.shape)
print(y.shape)

(7120, 107)
(7120,)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
from sklearn.neighbors import KNeighborsRegressor

In [22]:
krg = KNeighborsRegressor(n_neighbors=5)

In [23]:
krg

KNeighborsRegressor()

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=51)

In [26]:
x_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
7112,5.0,2.0,2500.0,6,7400.000000,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2169,2.0,0.0,995.0,2,4623.115578,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
47,2.0,2.0,1180.0,2,7500.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
446,2.0,1.0,1450.0,3,5862.068966,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2650,2.0,1.0,1197.0,2,6432.748538,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6672,2.0,1.0,1246.0,2,5457.463884,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1733,2.0,1.0,1010.0,2,5742.574257,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1760,2.0,2.0,1080.0,2,4629.629630,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
485,2.0,2.0,982.0,2,2500.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2105,2.0,1.0,1000.0,2,2888.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
x_test

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2435,3.0,1.584376,1700.0,3,4705.882353,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3113,2.0,2.000000,1016.0,2,3937.007874,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
426,4.0,2.000000,1950.0,3,6153.846154,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1124,2.0,1.000000,1350.0,2,5851.851852,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1161,2.0,1.000000,850.0,2,5294.117647,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078,2.0,1.000000,1090.0,2,2600.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6855,3.0,1.000000,1585.0,3,5299.684543,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4381,1.0,2.000000,665.0,1,4812.030075,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3862,2.0,1.000000,1167.0,2,5398.457584,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2.0,0.000000,1566.0,2,11494.252874,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
y_train

7112    185.00
2169     46.00
47       88.50
446      85.00
2650     77.00
         ...
6672     68.00
1733     58.00
1760     50.00
485      24.55
2105     28.88
Name: price, Length: 5696, dtype: float64

In [29]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

In [30]:
krg.fit(x_train,y_train)

KNeighborsRegressor()

In [32]:
print("Training set score : {}".format(krg.score(x_train,y_train)))
print("Test set score : {}".format(krg.score(x_test,y_test)))

Training set score : 0.9500697943393679
Test set score : 0.8858214084886539

In [33]:
x_test.iloc[-1,:]

bath                               2.000000
balcony                            0.000000
total_sqft_int                  1566.000000
bhk                                2.000000
price_per_sqft                 11494.252874
                                   ...
location_Hosur Road                0.000000
location_Horamavu Banaswadi        0.000000
location_Domlur                    0.000000
location_Mahadevpura               0.000000
location_Tumkur Road               0.000000
Name: 43, Length: 107, dtype: float64

In [35]:
krg.predict([x_test.iloc[-1,:]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([184.4])

In [37]:
y_test.iloc[-1]

180.0

In [38]:
y_pred = krg.predict(x_test)
y_pred

array([ 77.378,  39.808, 120.2  , ...,  33.405,  63.   , 184.4  ])

In [39]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64